<div class="details">
  <div class="form">
    <h4>Extracted details</h4>
    @for (field of onGetFields(); track field.name) {
    <div [id]="field.name" class="form-control">
      <label [htmlFor]="field.name">{{ field.label }}</label>
      <input
        disabled
        type="text"
        [name]="field.name"
        [value]="field.value"
        [id]="field.name"
      />
    </div>
    }
  </div>

  <footer>
    <button (click)="(onClose)">Go Back</button>
    <button (click)="(onTryAgain)">Try again</button>
  </footer>
</div>
